<div id="carouselControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="https://openfarmpet.com/products/wild-caught-salmon-ancient-grains-dry-dog-food" target="_blank">
      <%= image_tag 'rank_brand_silver_02.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption">
        <h5>Wild-Caught Salmon & Ancient Grains Dry Dog Foodd</h5>
        <p>This Open Farm recipe obtains the bulk of its animal protein from beef.
          the recipe contains 36% protein, 18% fat and 38% estimated carbs… producing a fat-to-protein ratio of about 48%.</p>
      </div>
    </div>
    </a>
    <div class="carousel-item">
      <a href="https://openfarmpet.com/products/salmon-puppy-food" target="_blank">
      <%= image_tag 'rank_brand_silver_01.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption ">
        <h5>Redbarn: Whole Grain Land Recipe Dog Food</h5>
        <p>First 5 Ingredients are Animal Proteins
          Probiotics, miscanthus grass & prebiotic fiber support healthy digestion
          & support heart health and vitamins A & E help support a healthy immune system</p>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://apupabove.com/pages/dfa?nb_adid=552391&nb_aname=Online+Tracking+Link&nb_asize=&nb_atype=ONLINE_TRACKING_LINK&nb_cid=9260&nb_mtype=mediapartner&nb_partner_name=Dog+Food+Advisor&nb_partner_shared_id=&nb_pid=2442109&nb_platform=impact&nb_product_sku=" target="_blank">
      <%= image_tag 'rank_brand_silver_03.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption">
        <h5>Chicken Pupatouille</h5>
        <p>This particular recipes derives the bulk of its meat protein from chicken.
          the recipe contains 33% protein, 21% fat and 38% estimated carbs…
            resulting a fat-to-protein ratio of about 63%.</p>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://www.chewy.com/wellness-complete-health-adult/dp/30140?clickref=1101lzCjzeAY" target="_blank">
      <%= image_tag 'rank_brand_gold_01.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption">
        <h5>Wellness Complete Health Dry Dog Food</h5>
        <p>This Wellness Complete Health formula derives the bulk of its meat protein from chicken and chicken meal.
          the product contains 27% protein,
          13% fat and 52% estimated carbs… creating a fat-to-protein ratio of about 50%.</p>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://www.chewy.com/taste-wild-high-prairie-grain-free/dp/30075?clickref=1101lzCjzt9V" target="_blank">
      <%= image_tag 'rank_brand_gold_02.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption">
        <h5>Taste of the Wild Dry Dog Food</h5>
        <p>This particular recipe derives the majority of its meat protein from fresh buffalo, as well as both chicken and lamb meals.
          the recipe contains 36% protein, 20% fat and 36% estimated carbs…
          producing a fat-to-protein ratio of about 56%.</p>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://get.thepetstable.com/dfa55?c=DF-A20BZ&vs_campaign_id=d1c37487-91a8-43ed-a3cd-fe7a46c9366c" target="_blank">
      <%= image_tag 'rank_brand_gold_03.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption">
        <h5>The Pets Table</h5>
        <p>This recipe derives the bulk of its animal protein from chicken.
          the recipe contains 29% protein, 35% fat and 28% estimated carbs…
          resulting in a fat-to-protein ratio of about 122%.</p>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://www.chewy.com/instinct-original-grain-free-recipe/dp/102302?clickref=1011lzCxDc82" target="_blank">
      <%= image_tag 'rank_brand_silver_00.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption">
        <h5>Instinct Original Grain-Free Dry</h5>
        <p>This Instinct example derives the majority of its animal protein from beef and chicken meal.
          the recipe contains 40% protein,
          23% fat and 29% estimated carbs… which creates a fat-to-protein ratio of about 57%.</p>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://spotandtango.com/?discount=DFA50" target="_blank">
      <%= image_tag 'rank_brand_bronze_02.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption">
        <h5>Spot and Tango Unkibble</h5>
        <p>This particular formula derives the majority of its animal protein from fresh chicken.
          the recipe contains 26% protein,
          17% fat and 49% estimated carbs… producing a fat-to-protein ratio of about 64%.</p>
      </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://www.thinkjinx.com/products/salmon-sweet-potato?sscid=81k8_u3y8n" target="_blank">
      <%= image_tag 'rank_brand_bronze_01.jpg', class: 'd-block w-100', alt: '...' %>
      <div class="carousel-caption" style="margin-top: 10px;">
        <h5>Jinx Dry Dog Food</h5>
        <p>This Jinx recipe derives the bulk of its animal protein from fresh salmon.
          the recipe contains 30% protein, 16% fat and 46% estimated carbs…
          creating a fat-to-protein ratio of about 52%.</p>
      </div>
      </a>
    </div>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="carouselControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="carouselControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
