<div class="banner">
  <%= image_tag 'banner_family_00.jpg', alt: 'Banner Image'%>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <h2 class="text-center mb-4">Edit <%= resource_name.to_s.humanize %></h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-group">
          <%= f.input :email, required: true, autofocus: true, wrapper_html: { class: 'col-md-12' }, input_html: { class: 'form-control' } %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p class="text-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.input :password,
                        hint: "Leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password", class: 'form-control' },
                        wrapper_html: { class: 'col-md-12' } %>
        </div>
        <div class="form-group">
          <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password", class: 'form-control' },
                        wrapper_html: { class: 'col-md-12' } %>
        </div>
        <div class="form-group">
          <%= f.input :current_password,
                        hint: "We need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password", class: 'form-control' },
                        wrapper_html: { class: 'col-md-12' } %>
        </div>
        <div class="form-group text-center">
          <%= f.button :submit, "Update", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <h3 class="text-end mt-4">Cancel my account</h3>
      <div class="text-center">
        <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-midd' %>
      </div>
    </div>
  </div>
</div>
