<div class="dog-card-wrap">
  <%= link_to dog_path(dog) do %>
    <div class="dog-card">
      <%# flex, space-between %>
      <div class="dog-info-left">
        <%# img %>
        <% if dog.photos.attached? %>
          <%= cl_image_tag dog.photos.first.key, crop: :fill %>
        <% else %>
          <%= image_tag 'other/dog_score_03.svg', alt: "default image for dog"%>
        <% end %>
      </div>
      <div class="dog-info-right">
        <div class="name-health">
          <%# name %>
          <h2><%= dog.name %></h2>
          <%# healt information %>
          <%= render 'dog_health_status', dog: dog %>
        </div>
        <div class="dog-feed-walk">
          <%# walking and feeding status %>
          <%# flex %>
          <%= render 'dog_task_status', dog: dog %>
        </div>
      </div>
    </div>
  <% end %>
</div>
