<div class="dog-info">
  <div class="dog-img">
    <div class="dog-name"><%= dog.name %></div>
    <div class="dog-image">
      <%= link_to dog_health_new_path(dog) do %>
        <% if dog.photos.attached? %>
          <%= cl_image_tag dog.photos.first.key, crop: :fill %>
        <% else %>
          <%= image_tag 'dog_score_03.svg', alt: "default image for dog"%>
        <% end %>
      <% end %>
    </div>
    <!--<div class="family-showpage-link">
      <%= link_to dog_health_path(dog) do %>
        <%= image_tag 'dog_score_03.svg', alt: "score", style:"height:120px; width:120px"%>
      <% end %>
    </div> -->
    <div class="medical-record-link">
      <%= link_to dog_medical_records_path(dog) do %>
        <%= image_tag 'medical_eam_btn.svg', alt: "medic", style:"height:60px; width:100%"%>
      <% end %>
    </div>
    <div class="dog-health-track">
      <%= link_to dog_health_path(dog) do %>
        <%= image_tag 'dog_fitness.svg', alt: "health_track", style:"height:56px; width:100%"%>
      <% end %>
    </div>
    <div class="dog-score">
    </div>
  </div>
</div>
<div class="dog-health-track row">
  <% health_tracks_of_this_dog = @health_tracks.where(dog_id: dog.id) %>
  <div class="health-history-track col-12 col-md-8 col-lg-6 mb-3">
    <%= render 'health_tracks/score_history', health_tracks: health_tracks_of_this_dog, dog: dog %>
  </div>
  <div class="latest-health-track col-12 col-md-8 col-lg-6">
    <% if health_tracks_of_this_dog.size > 0 %>
      <% latest_health_track = health_tracks_of_this_dog.order(date: :asc).last %>
      <%= render 'health_tracks/latest_health_track', latest_health_track: latest_health_track %>
    <% end %>
  </div>
</div>
