<div class="dog-info">
  <div class="dog-img">
    <div class="dog-name"><%= dog.name %></div>
    <div class="dog-image">
      <%= link_to dog_health_new_path(dog) do %>
        <% if dog.photos.attached? %>
          <%= cl_image_tag dog.photos.first.key, crop: :fill %>
        <% else %>
          <%= image_tag 'dog_score_03.svg', alt: "default image for dog"%>
        <% end %>
      <% end %>
    </div>
    <div class="dog-score">
      <%= link_to dog_health_path(dog) do %>
        <%= image_tag 'dog_score_03.svg', alt: "score", style:"height:120px; width:120px"%>
      <% end %>
    </div>
    <div class="medical-record-link">
      <%= link_to dog_medical_records_path(dog) do %>
        <%= image_tag 'medical_eam_btn.svg', alt: "medic", style:"height:60px; width:100%"%>
      <% end %>
    </div>
    <div class="family-showpage-link">
      <%# this family path should be changed to current_user.family %>
      <%= link_to dog_medical_records_path(dog) do %>
        <%= image_tag 'dog_fitness.svg', alt: "family", style:"height:60px; width:100%"%>
      <% end %>
    </div>
  </div>
</div>
