<div class="container">
  <%= turbo_frame_tag :dogs_list do %>
    <div class="dogs-list">
      <% @dogs.each do |dog| %>
        <%= render 'dogs/dog_card', dog: dog %>
      <% end %>
    </div>
  <% end %>
  <div class="calendar">
    <%= render 'tasks/index' %>
  </div>
  <div class="foods">
    <%= render 'food/form' %>
  </div>
</div>
<br>
<%= render 'shared/bottom_nav' %>
