<div class="dog-new">
  <div class="container col-12 col-md-6">
    <h2>Register a new Dog</h2>
    <%= simple_form_for(@dog) do |f| %>
      <%= f.input :name  %>
      <!-- Autocomplete breed input -->
      <!-- Autocomplete breed input -->
      <div class="form-group">
        <%= f.label :breed %>
        <%= f.select :breed, options_for_select(HealthTrack::DOG_DATA.keys, @dog.breed), { include_blank: 'Select a breed' }, { class: 'form-select', data: { controller: "tom-select" } } %>
      </div>
      <%= f.input :birthdate %>
      <!-- Sex radio buttons -->
      <div class="form-group">
        <%= f.label :sex %><br>
        <%= f.radio_button :sex, 'Male' %> Male
        <%= f.radio_button :sex, 'Female' %> Female
      </div>
      <%= f.input :allergies %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="form-actions">
        <%= f.button :submit, class:"btn btn-info my-3" %>
      </div>
    <% end %>
    <div class="invalid-feedback">
      Please select a person
    </div>
  </form>
</div>
</div>
