<div class="container col-6">
  <h1>Your Dog</h1>
  <% if !@dog.photos.empty? %>
    <%= cl_image_tag @dog.photos[0].key, width: 300, height: 220, crop: :fill %>
  <% end %>
  <p><strong><%= @dog.name %></strong></p>
  <p><strong><%= @dog.breed %></strong></p>
  <p><strong><%= @dog.birthdate %></strong></p>
  <p><strong><%= @dog.allergies %></strong></p>

  <%# <div class="col-6">
    <%= cl_image_tag @dog.photos[0].key, width: 300, height: 220, crop: :fill %>
  <%# <div> %>

  <h2>Tasks</h2>
  <% @tasks.each do |task| %>
    <p><%= task.name %></p>
    <p><%= task.status %></p>
  <% end %>
</div>
