<div class="container">
  <div class="row justify-content-start mx-4">
    <div class="d-flex align-items-start dog-profile">
      <% if @dog && @dog.photos.any? %>
        <%= cl_image_tag @dog.photos.first.key, class:'dog-image'%>
      <% else %>
        <p>No photo available</p>
      <% end %>
    </div>
    <%# <%= link_to "Go back", dogs_path(@dog), class: "btn btn-info back-btn button-record m-3" %>
    <div class="container">
      <div class="row">
        <div class="col-6 mt-4">
          <%= link_to dog_medical_records_path(@dog) do %>
            <%= image_tag 'icon_sub/records.png', alt: "records", class: 'img-fluid' %>
          <% end %>
        </div>
        <div class="col-6 mt-4">
          <%= link_to dog_health_path(@dog) do %>
            <%= image_tag 'icon_sub/tracks.png', alt: "health_track", class: 'img-fluid' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="dog-health-track">
      <%= render 'health_tracks/health_paragraph', dog: @dog %>
      <% health_tracks_of_this_dog = @health_tracks.where(dog_id: @dog.id) %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="medical-record-link row">
      <%= link_to dog_medical_records_path(@dog) do %>
        <%= image_tag 'medical_eam_btn.svg', alt: "medic"%>
      <% end %>
    </div>
    <div class="dog-health-track">
      <%= link_to dog_health_path(@dog) do %>
        <%= image_tag 'dog_fitness.svg', alt: "health_track"%>
      <% end %>
    </div>
  </div>
  <div class="col-12">
    <div class="img">
      <%= image_tag 'food/food_recommendation.png', alt: 'Image'%>
    </div>
    <div class="foods">
      <%= render 'food/form' %>
    </div>
  </div>
  <%= render 'tasks/index'%>
</div>
