<div class="container">
  <div class="row justify-content-center">
    <div class ="d-flex justify-content-center my-5 ">
  <%= cl_image_tag @dog.photos.first.key, width: 300, height: 400, crop: :fill, style: 'border-radius: 15px; box-shadow: 0 4px 8px rgba(255, 214 ,52, 1.3);' %>
    </div>
      <%= render 'tasks/index'%>
            <div class="dog-health-track">
      <% health_tracks_of_this_dog = @health_tracks.where(dog_id: @dog.id) %>
      <div class="health-history-track col-12 col-md-8 col-lg-6 mb-3">
        <%= render 'health_tracks/score_history', health_tracks: health_tracks_of_this_dog, dog: @dog %>
      </div>
      <div class="latest-health-track col-12 col-md-8 col-lg-6">
        <% if health_tracks_of_this_dog.size > 0 %>
          <% latest_health_track = health_tracks_of_this_dog.order(date: :asc).last %>
          <%= render 'health_tracks/latest_health_track', latest_health_track: latest_health_track %>
        <% end %>
      </div>
    </div>
  </div>

<br>

  <div class="d-flex justify-content-center">
    <div class="medical-record-link row mx-3">
      <%= link_to dog_medical_records_path(@dog) do %>
        <%= image_tag 'medical_eam_btn.svg', alt: "medic", style:"height:60px; width:100%"%>
      <% end %>
    </div>
    <div class="dog-health-track">
      <%= link_to dog_health_path(@dog) do %>
        <%= image_tag 'dog_fitness.svg', alt: "health_track", style:"height:56px; width:100%"%>
      <% end %>
    </div>
  <div>
<br>
<br>
<br>
<br>
<%= render 'shared/bottom_nav' %>
