<div class="container col-md-6 mt-4">
  <h1 class="display-4 mb-3"><%= @dog.name %></h1>
  <% if !@dog.photos.empty? %>
    <div class="mb-4">
      <%= cl_image_tag @dog.photos[0].key, class: 'img-fluid rounded', width: 300, height: 220, crop: :fill %>
    </div>
  <% end %>
  <p><%= link_to "View Health Information", :dog_health, class: "btn btn-primary mb-3" %></p>
  <div class="mb-3">
    <p><strong>Breed: </strong><%= @dog.breed %></p>
    <p><strong>Sex: </strong><%= @dog.sex %></p>
    <p><strong>Birthdate: </strong><%= @dog.birthdate %></p>
    <p><strong>Allergies: </strong><%= @dog.allergies %></p>
  </div>
  <h2 class="h4 mt-4">Tasks</h2>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item">
        <p class="mb-1"><%= task.name %></p>
        <p class="small text-muted"><%= task.status %></p>
      </li>
    <% end %>
  </ul>
</div>
<%= render 'shared/bottom_nav' %>
