<%# <h4>Calendar</h4> %>
<div class="calendar-container">
  <div class="calendar-header">
    <button class="nav-button">&#8249;</button>
    <span class="month-year"><%= @first_day.strftime("%B") %> <%= @first_day.year %></span>
    <button class="nav-button">&#8250;</button>
  </div>
  <div class="calendar-grid">
    <div class="day-name">S</div>
    <div class="day-name">M</div>
    <div class="day-name">T</div>
    <div class="day-name">W</div>
    <div class="day-name">T</div>
    <div class="day-name">F</div>
    <div class="day-name">S</div>
    <!-- Days of the month -->
    <% @first_day.wday.times do %>
      <div class="day"></div> <!-- Empty cells for previous month's days -->
    <% end %>
    <% (@last_day - @first_day + 1).to_i.times do %>
      <% if @tasks.where(end_time: @first_day).size > 0 %>
        <div class="day event" data-action="click->toggle#open_task_window"
          data-toggle-target="clickedDate" data-date=<%= @first_day %>>
          <%= @first_day.day %>
          <div class="toggle-task-window d-none" data-toggle-target="toggleWindow" data-date=<%= @first_day %>>
            <%= render 'tasks/toggle_task_window', tasks: @tasks.where(end_time: @first_day) %>
          </div>
        </div>
      <% elsif @first_day == Date.today %>
        <div class="day current" data-action="click->toggle#open_task_window"
          data-toggle-target="clickedDate" data-date=<%= @first_day %>>
          <%= @first_day.day %>
          <div class="toggle-task-window d-none" data-toggle-target="toggleWindow" data-date=<%= @first_day %>>
            <%= render 'tasks/toggle_task_window', tasks: @tasks.where(end_time: @first_day) %>
          </div>
        </div>
      <% else %>
        <div class="day" data-action="click->toggle#open_task_window"
          data-toggle-target="clickedDate" data-date=<%= @first_day %>>
          <%= @first_day.day %>
          <div class="toggle-task-window d-none" data-toggle-target="toggleWindow" data-date=<%= @first_day %>>
            <%= render 'tasks/toggle_task_window', tasks: @tasks.where(end_time: @first_day) %>
          </div>
        </div>
      <% end %>
      <% @first_day += 1 %>
    <% end %>
  </div>
</div>
