<%= simple_form_for(task) do |f| %>
  <%= f.input :name, label: false %>
  <%= f.association :user, collection: @users, label: false %>
  <%= f.association :dog, collection: @dogs, label: false %>
  <%= f.input :description, as: :text, label: false %>
  <%= f.input :end_time, input_html: { data: { controller: "datepicker" } }, label: false %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-info" %>
  </div>
<% end %>
