<%= simple_form_for(@task) do |f| %>
  <%= f.input :name, label: false, placeholder: 'Task' %>
  <%= f.association :user, collection: @users, prompt: "Assignee?", label: false %>
  <%= f.association :dog, collection: @dogs, prompt: "Which dog?", label: false %>
  <%= f.input :description, as: :text, label: false, placeholder: 'Descriptions' %>
  <%= f.hidden_field :end_time, value: date_id %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-info my-3" %>
  </div>
<% end %>
