<div class="container mt-5 tasks">
  <h2> Tasks </h2>
  <div class="tasks">
    <% @tasks.each do |task| %>
      <div class="task" data-controller="toggle">
        <div class="task-header">
          <%= form_with url: toggle_status_task_path(task), method: :patch, remote: true do |f| %>
            <%= f.check_box :status, checked: task.status, onclick: 'this.form.submit();' %>
          <% end %>
          <p data-action="click->toggle#fire"><%= task.name %></p>
        </div>
        <div class="task-detail" data-toggle-target="togglableElement">
          <%= render 'tasks/task_detail', task: task %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'tasks/form' %>
</div>
