<div class="container mt-5 tasks">
  <h2> Tasks </h2>
  <div class="tasks" data-controller="toggle">
    <% @tasks.each do |task| %>
      <div class="task">
        <div class="task-header">
          <%= form_with url: toggle_status_task_path(task), method: :patch, remote: true do |f| %>
            <%= f.check_box :status, checked: task.status, onclick: 'this.form.submit();' %>
          <% end %>
          <p data-action="click->toggle#show_detail" data-task-id="<%= task.id %>"><%= task.name %></p>
        </div>
        <div class="task-detail d-none" data-toggle-target="togglableDetail" data-task-id="<%= task.id %>">
          <%= render 'tasks/task_detail', task: task %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="task-form-wrap">
    <button type="button" class="btn my-btn-green" data-action="click->toggle#show_form">Add Task</button>
    <div class="task-form d-none" data-toggle-target="togglableForm">
      <%= render 'tasks/form' %>
    </div>
  </div>
</div>
