<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2><%= @task.name %></h2>
    <%= link_to edit_task_path(@task.id), class: 'btn btn-light btn-sm border' do %>
      Edit this task
    <% end %>
  </div>
  <p class="well"><%= @task.description %></p>
  <% if @task.completed %>
    This task been completed by <%= @user.name %>
  <% else %>
    This task is not completed yet
  <% end %>
  <hr>
  <%= link_to tasks_path do %>
    Back to list
  <% end %>
</div>
