<% tasks.each do |task| %>
  <div class="task">

    <div class="task-header">
      <div class="checkbox-name">
        <%= form_with url: toggle_status_task_path(task), method: :patch, remote: true do |f| %>
          <%= f.check_box :status, class: "form-check-input", id: "flexCheckDefault", checked: task.status, onclick: 'this.form.submit();' %>
        <% end %>
        <p><%= task.name %></p>
      </div>
      <button type="button" class="btn my-btn-plus" data-action="click->toggle#show_edit_form"><i class="fa-solid fa-pencil"></i></button>
    </div>

    <div class="task-detail" data-toggle-target="togglableTaskDetail">
      <%= render 'tasks/task_detail', task: task %>
    </div>
    <div class="task-edit-form d-none" data-toggle-target="togglableEditForm">
      <%= render 'tasks/edit', task: task %>
    </div>

  </div>
<% end %>
