<div class="toggle-task-window-bg"></div>
<div class="toggle-task-window-content">
  <div class="content-header">
    <h4 data-action="click->toggle#close_task_window_wo_date"><i class="fa-solid fa-chevron-left"></i></h4>
    <h4>Add New Task</h4>
  </div>
  <div class="task-form-wrap">

    <%= simple_form_for(@task) do |f| %>
      <%= f.input :name, label: false, placeholder: 'Title' %>
      <%= f.association :user, collection: @users, prompt: "Who does this?", label: false %>
      <%= f.association :dog, collection: @dogs, prompt: "For which dog?", label: false %>
      <%= f.input :description, as: :text, label: false, placeholder: 'Descriptions' %>
      <%= f.input :end_time, as: :string, input_html: { data: { controller: "datepicker" } }, label: false %>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-info my-3" %>
      </div>
    <% end %>

  </div>
</div>
