<div class="toggle-task-window-bg"></div>
<div class="toggle-task-window-content">
  <div class="content-header">
    <h4 data-action="click->calendar#close_task_window"><i class="fa-solid fa-chevron-left"></i></h4>
    <h4><%= @first_day %></h4>
    <button type="button" class="btn my-btn-plus" data-action="click->toggle#show_form"><i class="fa-solid fa-plus"></i></button>
  </div>
  <div class="task-form-wrap">
    <div class="task-form d-none" data-toggle-target="togglableForm">
      <%= render 'tasks/form' %>
    </div>
  </div>
  <% tasks.each do |task| %>
    <div class="task">

      <div class="task-header">
        <%= form_with url: toggle_status_task_path(task), method: :patch, remote: true do |f| %>
          <%= f.check_box :status, class: "form-check-input", id: "flexCheckDefault", checked: task.status, onclick: 'this.form.submit();' %>
        <% end %>
        <p><%= task.name %></p>
        <button type="button" class="btn my-btn-plus" data-action="click->toggle#show_form"><i class="fa-solid fa-pencil"></i></button>
      </div>

      <div class="due-date">
        <p>Due date:</p><p><%= task.end_time %></p>
      </div>
      <div class="assignee">
        <p>Assignee:</p><p><%= task.user.name %></p>
      </div>
      <div class="dog">
        <p>Dog:</p><p><%= task.dog.name %></p>
      </div>
      <div class="description">
        <p>Description:</p><p><%= task.description %></p>
      </div>
    </div>
  <% end %>
</div>
