<div class="container col-6">
  <h1>Edit <%= @dog.name %>'s Medical Record</h1>
  <%= link_to "Go back", dog_medical_records_path(@dog) %>
  <%= simple_form_for(@medical_record, html: { multipart: true }) do |f| %>
    <p>Date<%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } }, label: false %></p>
    <%= f.input :description %>
    <%= f.input :vet_contact %>
    <!-- Add this for multiple file uploads -->
    <div class="form-group">
      <%= f.label :pictures, "Upload Pictures" %>
      <%= f.file_field :pictures, multiple: true, direct_upload: true %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-info my-3" %>
    </div>
  <% end %>
</div>
