<div class="container" style="background-color: #ffc65a; padding: 10px; margin-bottom: 10px; margin-top: 10px;">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="dog-show">
        <div class="dog-profile">
          <%# <img src="dog_image.jpg" alt="Dog's profile picture"> %>
          <h1><%= @dog.name %>'s Medical Records</h1>
          <p>Breed: <%= @dog.breed %></p>
          <p>Birthdate: <%= @dog.birthdate.strftime("%B %d, %Y") %></p>
          <p><%= @dog.sex %></p>
          <p>Allergies: <%= @dog.allergies %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="graph">
        <%= image_tag 'graph.svg', alt: 'graph', style:"height:250px;width:350px"%>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
      <div class="buttons mt-3">
        <button><%= link_to "Add new record", "medical_records/new", class: "btn" %></button>
        <button><%= link_to "Fitness History", :dog_id_health, class: "btn" %></button>
      </div>
    </div>
  </div>
</div>
<div class="col-12 col-md-6">
  <div class="last-updates d-flex flex-wrap">
    <div class="last-update">
      <% if @medical_records.empty? %>
        <p>No medical records added</p>
      <% else %>
        <% @medical_records.each do |record| %>
          <div class="health-card">
            <h3><i class="fas fa-folder"></i> <%= record.date.strftime("%B %d, %Y") %></h3>
            <p>Description: <%= record.description %></p>
            <p>Veterinarian: <%= record.vet_contact %></p>
            <div><%= link_to "Edit", edit_medical_record_path(record) %>
              <%= link_to "Delete",
              medical_record_path(record),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this entry?" }
              %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<%= render 'shared/bottom_nav' %>
