<div class="container" style="background-color: #ffc65a; padding: 10px; margin-bottom: 30px">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="dog-show">
        <div class="dog-profile">
          <%# <img src="dog_image.jpg" alt="Dog's profile picture"> %>
          <h1><%= @dog.name %>'s Medical Records</h1>
          <p>Breed: <%= @dog.breed %></p>
          <p>Birthdate: <%= @dog.birthdate.strftime("%B %d, %Y") %></p>
          <p><%= @dog.sex %></p>
          <p>Allergies: <%= @dog.allergies %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="graph">
        <%= image_tag 'graph.svg', alt: 'graph', style:"height:250px;width:350px"%>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 text-center">
      <div class="buttons mt-3">
        <button><%= link_to "Add new record", "medical_records/new", class: "btn" %></button>
        <button><%= link_to "Fitness History", :dog_id_health, class: "btn" %></button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if @medical_records.empty? %>
      <div class="col-12 text-center">
        <p>No medical records added</p>
      </div>
    <% else %>
      <% @medical_records.each_slice(2) do |slice| %>
        <div class="col-12 mb-3">
          <div class="row">
            <% slice.each do |record| %>
              <div class="col-md-6 mb-3">
                <div class="health-card">
                  <%= link_to dog_medical_record_path(record.dog, record) do %>
                    <%= image_tag 'dog_med_banner_01.svg', alt: 'Image phone', class: 'small-card' %>
                  <% end %>
                  <p> Date of creation: <%= record.date.strftime("%B %d, %Y") %> </p>
                  <p>Description: <%= record.description %></p>
                  <p>Veterinarian: <%= record.vet_contact %></p>
                  <div>
                    <%= link_to "Edit", edit_medical_record_path(record) %>
                    <%= link_to "Delete",
                    medical_record_path(record),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this entry?" }
                    %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<%= render 'shared/bottom_nav' %>
