<div class="banner-img">
  <%= image_tag 'other/banner_vet_01.jpg', alt: 'Banner Image'%>
</div>
<main>
  <h2 class="text-center"><%= @dog.name %>'s Medical Records</h2>
  <div class="container record-container">
    <div class="row">
      <div class="col-md-6">
        <div class="button-container">
          <%= link_to "Add new record", new_dog_medical_record_path(@dog), class: "btn btn-primary button-record" %>
          <%= link_to "Fitness History", :dog_id_health, class: "btn btn-primary button-record" %>
        </div>
        <%= link_to "Go back", dog_path(@dog), class: "btn btn-info back-btn button-record m-3" %>
        <div class="medical-records-container">
          <% if @medical_records.empty? %>
            <p>No medical records added</p>
          <% else %>
            <% @medical_records.each_slice(2) do |slice| %>
              <div class="col-12 mb-3">
                <div class="row">
                  <% slice.each do |record| %>
                    <div class="col-md-3 col-6">
                      <div class="health-record position-relative">
                        <div class="health-buttons position-absolute top-0 end-0 p-2">
                          <%= link_to edit_medical_record_path(record), class: "btn btn-outline-primary button-record-scd me-1" do %>
                            <i class="fa-solid fa-pen-to-square"></i>
                          <% end %>
                          <%= link_to medical_record_path(record), class: "btn btn-outline-danger button-record-scd", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this entry?" } do %>
                            <i class="fa-solid fa-trash"></i>
                          <% end %>
                        </div>
                        <div class="folder-container">
                          <%= link_to dog_medical_record_path(record.dog, record) do %>
                            <% if record.photos.attached? %>
                              <%= image_tag 'btn/records.png', alt: 'Medical record image', class: 'folder' %>
                            <% else %>
                              <%= image_tag 'btn/emptyrecords.png', alt: 'No medical record image', class: 'folder' %>
                            <% end %>
                          <% end %>
                        </div>
                        <p class="result">
                          <em><%= record.date.present? ? record.date.strftime("%B %d, %Y") : "Date not available" %></em>
                        </p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="graph-container">
        </div>
      </div>
    </div>
  </div>
</main>
