<div class="banner">
  <%= image_tag 'other/banner_family_00.jpg', alt: 'Banner Image'%>
</div>
<div class="container text-center mt-5">
  <div class="row">
    <div class="col-12">
      <div class="container col-6">
        <h2>Family Name:</h2>
        <h3>"<%= current_user.family.name %>"</h3>
        <p><%= render "families/family-form", family: @family %></p>
      </div>
      <div class="users-dogs-container d-flex justify-content-between">
        <div class="users-section col-6">
          <h3><b>Users</b></h3>
          <% current_user.family.users.each do |user| %>
            <h4><%= user.name %></h4>
          <% end %>
        </div>
        <div class="dogs-section col-6">
          <h3><b>Dogs</b></h3>
          <% current_user.family.dogs.each do |dog| %>
            <h4>
              <%= dog.name %>
              <%= link_to edit_dog_path(dog), class: "text-decoration-none" do %>
                <i class="fa-solid fa-pencil"></i>
              <% end %>
              <%= link_to dog_path(dog), data: { turbo_method: "delete", turbo_confirm: "Are you sure to delete this dog?" }, class: "text-decoration-none" do %>
                <small><i class="fa-solid fa-trash "></i></small>
              <% end %>
            </h4>
          <% end %>
        </div>
      </div>
      <div class="container col-6">
        <%= form_with(model: Invitation.new, url: invitations_path) do |form| %>
          <div class="form-group">
            <%= form.label :email, 'Invite by email' %>
            <%= form.email_field :email, class: 'form-control' %>
          </div>
          <%= form.submit 'Send Invitation', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
