<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="btn-nav sticky-bottom">
        <div class="task_form" data-controller="toggle">
          <div class="button__icon" data-action="click->toggle#open_task_window_wo_date">
            <%= image_tag 'logo/add_icn.png', alt: "Add new record" %>
          </div>
          <div class="toggle-task-window d-none" data-toggle-target="toggleWindowWithoutDate" data-date="#">
            <%= render 'tasks/toggle_task_window_wo_date', date_id: "#" %>
          </div>
        </div>
        <%= link_to home_path, class: "btn" do %>
          <div class="button__icon">
            <%= image_tag 'logo/logo.png', alt: "Home" %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="btn dropdown">
            <div class="button__icon"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="background-image: url('<%= current_user.photo.attached? ? cl_image_path(current_user.photo.key) : "" %>')">
              <% unless current_user.photo.attached? %>
                <%= image_tag "profil.svg", alt: "Login Icon", class: "login-icon"%>
              <% end %>
            </div>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Family settings", family_path(current_user.family), class: "dropdown-item"%></li>
              <li><%= link_to "User settings", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            </ul>
          </div>
        <% else %>
          <div class="auth-buttons">
            <li class="nav-item">
              <%= link_to image_tag("login_btn.svg", alt: "Login Icon", class: "login-icon"), new_user_session_path %>
            </li>
            <li class="nav-item">
              <%= link_to image_tag("register_btn_01.svg", alt: "Register Icon", class: "register-icon"), new_user_registration_path, class: "nav-link" %>
            </li>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
