<nav class="navbar navbar-expand-lg navbar-collapse sticky-top" style="font-family:Playfair Display, serif;font-size: 18px">
  <div class="container-fluid position-relative">
    <!-- Title centered in the middle -->
    <h2 class="title position-absolute top-50 start-50 translate-middle">Crok</h2>
    <!-- Other links on the left -->
    <%= link_to "Home", root_path, class: "navbar-brand d-flex align-items-center position-relative m-2" %>
    <%# <%= link_to "All Articles", products_path, class: "navbar-brand d-flex align-items-center position-relative m-2" %>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-chevron-up fa-rotate-180 text-color: white, text-decoration-none"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Collapsible button on the right -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle align-items-center m-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu">
            <%# ['Jewelries', 'Watches & Bracelets', 'Suits & Dress', 'Sports car & Vintage', 'Boats'] %>
            <li><%= link_to "All Articles", dogs_path, class: "dropdown-item"  %></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-2">
          <a class="nav-link" href="#" role="button" id="searchToggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <ul class="dropdown-menu search-bar">
            <%= form_with url: dogs_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form",
                placeholder: "Look for an article"
                    %>
              <%= submit_tag "Search", name: "", class:"btn btn-outline-light" %>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <%= link_to "/", class: "d-flex align-items-center position-relative text-color-black text-decoration-none m-2" do %>
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="d-flex align-items-center position-relative m-2">Requests</span>
          <% end %>
          <!--avatar dropdown-->
          <li class="nav-item dropdown">
            <a href="#" class="avatar d-flex justify-content-center align-items-center m-2 position-relative"
              id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Update profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
