<div class="navbar-container d-flex justify-content-between align-items-center">
  <div class="banner-container">
    <% if user_signed_in? %>
      <%= link_to home_path do %>
        <%= image_tag "banner_icn.svg", alt: "Crok Logo", class: "banner-image" %>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
        <%= image_tag "banner_icn.svg", alt: "Crok Logo", class: "banner-image" %>
      <% end %>
    <% end %>
  </div>
  <!-- Mobile Dropdown Button -->
  <div class="dropdown d-md-none">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-regular fa-bars"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
      <%= render 'shared/logbtn' %>
    </ul>
  </div>
</div>
