<%= simple_form_for [@dog, @health_track] do |f| %>
    <p>Date<%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } }, label: false %></a></p>
    <%= f.input :height, as: :numeric %>
    <%= f.input :weight, as: :numeric %>
    <div class="form-dropdown">
      <p>BCS (1 for skinny, 10 for chubby)</p>
      <p><%= f.select :bcs, (1..10) %></p>
      <p>Exercise Level (1 for little exercise, 10 for a lot)</p>
      <p><%= f.select :exercise, (1..10) %></p>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-info my-3" %>
    </div>
  <% end %>
