<% if latest_health_track %>
  <div class="health-card">
    <h3><i class="fa-solid fa-dog"></i> <%= latest_health_track.date.strftime("%B %d, %Y") %></h3>
    <p>Height: <%= latest_health_track.height %> in</p>
    <p>Weight: <%= latest_health_track.weight %> lbs</p>
    <p>BCS: <%= latest_health_track.bcs %></p>
    <p>Exercise Score: <%= latest_health_track.exercise %></p>
    <p>Overall Health Score: <%= latest_health_track.dog_score %></p>
    <div>
      <%= link_to "Edit", edit_dog_health_track_path(latest_health_track) %>
      <%= link_to "Delete",
          dog_health_track_path(latest_health_track),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this entry?" }
      %>
    </div>
  </div>
<% else %>
  <p>No health track data available.</p>
<% end %>
