<div class="container">
  <div class="row justify-content-center">
    <div>
      <%= render 'dogs/dogs_carousel' %>
    </div>
    <div class="col-12 col-md-8 col-lg-6 centered-div">
      <div class="dog-info">
        <%= render 'dogs/dogs_carousel' %>
      </div>
       <%= render 'food/form' %>
                  <div>
                    <%= render 'tasks/index' %>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <%= render 'shared/bottom_nav' %>
